body {
    background-color: #e6e6e6;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#encabezado {
    height: 60px;
    background: linear-gradient(to right, #614385, #516395);
    padding-top: 14px;
}

h1 {
    color: white;
    text-align: center;
    margin: 0;
}

#flecha {
    position: absolute;
    top: 20px;
    font-size: 2.2em;
    left: 15px;
    color: white;
    display: none;
}

#contenedor-cartas {
    margin: 10px;
    max-width: 600px;
    margin: auto;
}
#contenedor-post {
    margin: 10px;
    max-width: 600px;
    margin: auto;
}
.botones-autores {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,.4), 0 5px 15px rgba(0,0,0,.1);
    margin: 5%;
    text-align: center;
    width: 40%;
    float: left;
    margin: 3% 5%;
    border: none;
    padding: 15px;
}

.post {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,.4), 0 5px 15px rgba(0,0,0,.1);
    margin: 2%;
    text-align: center;
    width: 41%;
    float: left;
    border: none;
    padding: 15px;
    min-height: 320px;
}